<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="EhConnectionString" connectionString="Endpoint=sb://signalrdemo2-eh.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=rHX/7jKM+JvKElZJR7s+KKVWJuy3SX1u6w/vVBhBGWk=" />
  </connectionStrings>
  <appSettings>
    <add key="consumerKey" value="{xxx}" />
    <add key="consumerSecret" value="{xxx}" />
    <add key="accessToken" value="{xxx}" />
    <add key="accessTokenSecret" value="{xxx}" />

    <add key="keyword" value="netcoreconf" />
  </appSettings>  
</configuration>